{% load cms_tags %}
{% load array_index %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load image_tags %}

<article class="row align-items-center">
<figure class="col-md-4 mb-0">
    <a href="{{ instance.product.get_absolute_url }}">
          {% oscar_thumbnail instance.product.primary_image.original "86x86" upscale=False as thumb_primary %}
          <img src="{{ thumb_primary.url }}" alt="">
    </a>
</figure>

<div class="col-md-8 mb-0">
    <h4 class="title-small"><a href="{{ instance.product.get_absolute_url }}">{{ instance.product.title }}</a></h4>

<div class="product-price">
    {% purchase_info_for_product request instance.product as session %}
    <span>
    {% if session.price.exists %}
        {% if session.price.is_tax_known %}
            {{ session.price.incl_tax|currency:session.price.currency }}
        {% else %}
            {{ session.price.excl_tax|currency:session.price.currency }}
        {% endif %}
    {% endif %}
    </span>
    {% if instance.product.mrp %}
    <span class="old-price">{{ instance.product.mrp }}</span></div>
    {% endif %}
</div>
</article>
