{% load cms_tags %}
{% load array_index %}
{% load currency_filters %}
{% load reviews_tags %}
{% load product_tags %}
{% load display_tags %}
{% load i18n %}
{% load purchase_info_tags %}
{% load basket_tags %}
{% load image_tags %}

<div class="product-cart-wrap small hover-up">
    <div class="product-img-action-wrap">
        <div class="product-img product-img-zoom">
          {% oscar_thumbnail instance.product.primary_image.original "194x194" upscale=False as thumb_primary %}
          <img class="default-img" src="{{ thumb_primary.url }}" alt="{{ product.get_title }}">
        </div>
    </div>
    <div class="product-content-wrap">
      <h2><a href="{{ instance.product.get_absolute_url }}" tabindex="-1">{{ instance.product.title }}</a></h2>
      <div class="rating-result" title="90%">
        <span>
        </span>
      </div>
      <div class="product-price">
        {% purchase_info_for_product request instance.product as session %}
        <span>
        {% if session.price.exists %}
                {% if session.price.is_tax_known %}
                    {{ session.price.incl_tax|currency:session.price.currency }}
                {% else %}
                    {{ session.price.excl_tax|currency:session.price.currency }}
                {% endif %}
        {% endif %}
        </span>
        <span class="old-price">{{ instance.product.mrp }}</span>
      </div>
    </div>
</div>
