{% extends "oscar/dashboard/base.html" %}

{% load category_tags %}
{% load dashboard_tags %}
{% load i18n %}
{% load static %}
{% load site_urls %}
{% load cms_tags %}
{% load djangocms_alias_tags %} 

{% block styles %}
    <link rel="stylesheet" type="text/css" href="{% static "oscar/css/dashboard.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/demo/main.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/sections/dashboard.css' %}">
{% endblock %}

{% block extrastyles %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static "oscar/js/select2/select2.min.css" %}" />
    <link rel="stylesheet" href="{% static "oscar/css/select2-bootstrap.min.css" %}" />
    <link rel="stylesheet" href="{% static "oscar/js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.css" %}" />
    <style>
        .popup-content {
          visibility: hidden;
          width: 160px;
          background-color: #333;
          color: #fff;
          text-align: center;
          padding: 5px;
          border-radius: 6px;

          /* Position the popup above the text */
          position: absolute;
          z-index: 1;
          bottom: 125%;
          left: 50%;
          margin-left: -80px; /* Center the popup */

          /* Add a smooth fade-in effect */
          opacity: 0;
          transition: opacity 0.3s;
        }

        .popup-container:hover .popup-content {
          visibility: visible;
          opacity: 1;
        }

    </style>
{% endblock %}

{% block title %}
    {% trans "Seller Dashboard" %} | {{ block.super }}
{% endblock %}

{% block page_header %}
{% endblock %}

{% block layout %}

    {# ── Sidebar ── #}
    {% dashboard_navigation user as nav_items %}
    {% block aside_nav %}
    <aside class="navbar-aside" id="offcanvas_aside">
        <div class="aside-top">
            <a href="{% url 'dashboard:index' %}" class="brand-wrap">
                <img src="{% static 'img/theme/logo_zit69_dashboard.png' %}" class="logo" alt="zite69 Dashboard">
            </a>
            <div>
                <button class="btn btn-icon btn-aside-minimize"><i class="text-muted material-icons md-menu_open"></i></button>
            </div>
        </div>
        <nav>
            <ul class="menu-aside">
                {% for item in nav_items %}
                <li class="menu-item {% if item.has_children %}has-submenu{% endif %}">
                    <a class="menu-link" href="{% if item.is_heading %}#{% else %}{{ item.url }}{% endif %}">
                        {% if item.icon %}<i class="icon material-icons {{ item.icon }}"></i>{% endif %}
                        <span class="text">{{ item.label }}</span>
                    </a>
                    {% if item.has_children %}
                    <div class="submenu">
                        {% for child in item.children %}
                        <a {% if not child.active %}class="text-decoration-line-through popup-container" data-bs-toggle="tooltip"
                            data-bs-placement="top" data-bs-title="Coming Soon"
                            {% endif %} href="{{ child.url }}">{{ child.label }}</a>
                        {% if not child.active %}<span class="popup-content">Coming Soon</span>{% endif %}
                        {% endfor %}
                    </div>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            <br><br>
        </nav>
    </aside>
    {% endblock aside_nav %}

    {# ── Main wrap ── #}
    <main class="main-wrap">

        {# ── Top header ── #}
        <header class="main-header navbar header-area">
            <div class="col-search">
                <form class="searchform" method="get" action="{% url 'dashboard:catalogue-product-list' %}">
                    <div class="input-group">
                        <input type="text" name="title" class="form-control" placeholder="Search products&hellip;">
                        <button class="btn btn-light bg" type="submit"><i class="material-icons md-search"></i></button>
                    </div>
                </form>
            </div>
            <div class="col-nav">
                <button class="btn btn-icon btn-mobile me-auto" data-trigger="#offcanvas_aside">
                    <i class="material-icons md-apps"></i>
                </button>
                <ul class="nav">
                    {# Notifications #}
                    <li class="nav-item">
                        <a class="nav-link btn-icon" href="#">
                            <i class="material-icons md-notifications animation-shake"></i>
                        </a>
                    </li>
                    {# Dark mode toggle #}
                    <li class="nav-item">
                        <a class="nav-link btn-icon darkmode" href="#" title="{% trans 'Toggle dark mode' %}">
                            <i class="material-icons md-nights_stay"></i>
                        </a>
                    </li>
                    {# Fullscreen #}
                    <li class="nav-item">
                        <a class="requestfullscreen nav-link btn-icon" href="#" title="{% trans 'Fullscreen' %}">
                            <i class="material-icons md-cast"></i>
                        </a>
                    </li>
                    {# Language #}
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownLanguage" aria-expanded="false" title="{% trans 'Language' %}">
                            <i class="material-icons md-public"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownLanguage">
                            <a class="dropdown-item text-brand" href="#"><img src="{% static 'img/theme/flag-us.png' %}" alt="English"> English</a>
                            <a class="dropdown-item" href="#"><img src="{% static 'img/theme/flag-fr.png' %}" alt="Français"> Français</a>
                            <a class="dropdown-item" href="#"><img src="{% static 'img/theme/flag-jp.png' %}" alt="日本語"> 日本語</a>
                            <a class="dropdown-item" href="#"><img src="{% static 'img/theme/flag-cn.png' %}" alt="中国人"> 中国人</a>
                        </div>
                    </li>
                    {# User account #}
                    <li class="dropdown nav-item">
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" id="dropdownAccount" aria-expanded="false">
                            <img class="img-xs rounded-circle" src="{% static 'img/people/avatar2.jpg' %}" alt="{% trans 'User' %}">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownAccount">
                            <div class="dropdown-header">
                                <strong>{% if request.user.is_anonymous %}{% trans "Guest" %}{% else %}{{ user.get_full_name|default:request.user.email }}{% endif %}</strong>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{% url 'customer:summary' %}"><i class="material-icons md-perm_identity"></i> {% trans "Edit Profile" %}</a>
                            <a class="dropdown-item" href="{{ homepage_url }}"><i class="material-icons md-storefront"></i> {% trans "Return to site" %}</a>
                            {% block extra_header_nav %}
                                <a class="dropdown-item" href="{% site_url SITE_SELLER 'dashboard-seller' %}"><i class="material-icons md-store"></i> Seller Information</a>
                            {% endblock %}
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item text-danger" href="{% url 'account_logout' %}"><i class="material-icons md-exit_to_app"></i> {% trans "Log out" %}</a>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        {# ── CMS-editable notice bar (edit via CMS toolbar when logged in as staff) ── #}
        {% static_alias "seller_dashboard_notice" %}

        {# ── Page content ── #}
        <section class="content-main">
            {% include 'oscar/dashboard/partials/alert_messages.html' %}

            {% block breadcrumbs %}
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">
                            <a href="{% url 'dashboard:index' %}">{% trans "Dashboard" %}</a>
                        </li>
                    </ol>
                </nav>
            {% endblock %}

            {% block header %}
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">{% block headertext %}{% endblock %}</h2>
                    </div>
                </div>
            {% endblock %}

            {% block content %}
                {% block dashboard_content %}{% endblock dashboard_content %}
            {% endblock content %}
        </section>

        <footer class="main-footer font-xs">
            <div class="row pb-30 pt-15">
                <div class="col-sm-6">
                    &copy; <script>document.write(new Date().getFullYear())</script> zite69.com
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end">All rights reserved</div>
                </div>
            </div>
        </footer>

    </main>{# /main-wrap #}

{% endblock %}

{# Local scripts #}
{% block scripts %}
    <script src="{% static 'js/vendors/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/vendors/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static "oscar/js/bootstrap4/bootstrap.bundle.min.js" %}"></script>
    <script src="{% static "oscar/js/oscar/ui.js" %}"></script>
    <script src="{% static 'js/demo.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
{% endblock %}

{% block extrascripts %}
    {{ block.super }}

    {# jQuery plugins #}
    <script src="{% static "oscar/js/mousewheel/jquery.mousewheel.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap4-datetimepicker/moment-with-locales.min.js" %}"></script>
    <script src="{% static "oscar/js/bootstrap4-datetimepicker/tempusdominus-bootstrap-4.min.js" %}"></script>
    <script src="{% static "oscar/js/inputmask/jquery.inputmask.min.js" %}"></script>
    <script src="{% static "oscar/js/select2/select2.min.js" %}"></script>
    <script src="{% static "oscar/js/jquery-sortable/jquery-sortable-min.js" %}"></script>
    <script src="{% static "oscar/js/oscar/dashboard.js" %}"></script>
    <script src="{% static "oscar/js/oscar/RelatedObjectLookups.js" %}"></script>
    <script src="{% static "oscar/js/tinymce/tinymce.min.js" %}"></script>
    <script src="{% static "oscar/js/tinymce/jquery.tinymce.min.js" %}"></script>
{% endblock %}

{% block onbodyload %}
    {{ block.super }}

    // Javascript to enable link to tab
    var url = document.location.toString();
    if (url.match('#')) {
        $('.bs-docs-sidenav a[href="#' + url.split('#')[1] + '"]').tab('show');
    }

    var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
    console.log(tooltipTriggerList);
    var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
      return new bootstrap.Tooltip(tooltipTriggerEl)
    });
    console.log(tooltipList);

    // Change hash for page-reload
    $('.nav-list a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
    });

    options = {
      'languageCode': '{{ LANGUAGE_CODE }}'
    };
    oscar.dashboard.init(options);
{% endblock %}
